<!--This is populating the profile page with all the project info. Not clean or clear.-->

<!--<li>
  <span class="description"><%= project.description %></span>
  <span class="title"><%= project.title %></span>
  <span class="location"><%= project.location %></span>
  <span class="timestamp">
    posted <%= time_ago_in_words(project.created_at) %> ago.
  </span>
</li>-->